*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(239, 232, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.item-lista-cabeçalho{
    display: inline-block;
    margin: 0 15px;
    font-size: 25px;
}
.img-cabeçalho{
    height: 200px;
}

.principal{
    background-image: linear-gradient(rgb(232, 233, 246), rgb(63, 21, 180));
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-principal{
    width: 500px;
}
.div-principal{
    width: 35%;

    }
 
    .paragrafo{
        text-align: center;
    }

